<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>面试题</title>
    <style type="text/css">
        body{margin:0px; padding:0px; text-align:center;}
        #content{ border:1px solid blue;width:600px;margin:20px auto auto auto;text-align:left;padding:0px;}
    </style>
</head>
<body>
    <div id="content">
        编程题<br/>
        <br/>
        1.用户需要一个输入框【textarea】，后台程序将用户提交的textarea里的内容（全部为英文）按字母出现的频率显示，并按a到z的顺序排列。 
        <br/>
        <a href="/testone/"  >实现页面</a>
        <br/>
        <br/>
        2.写一个程序，提取出图片的长度和宽度。
        <br/>
        <a href="/testtwo/" >实现页面</a>
        <br/>
    <div>
</body>
</html>
